[2018-01-26 19:58] dmak opened #1 "The key/message are converted into bytes in platform-dependant way"
I think that the line [`HMACSigner:41`](https://github.com/inversoft/prime-jwt/blob/899a38db32673769fdddd54e133a0e2b784cd800/src/main/java/org/primeframework/jwt/hmac/HMACSigner.java#L41) should better be changed to

`this.secret = secret.getBytes(StandardCharsets.US_ASCII);`

because otherwise the same string key can interpreted differently on systems configured with different system charset (e.g

[2018-01-26 20:07] robotdan commented on #1
Thanks for the catch.

It looks like I'm missing that on line 41 and 69, and some other places in the code.
I would generally default to using `UTF-8`, and write that as `.getBytes(StandardCharsets.UTF_8)`.

I am admittedly not a Unicode expert. Is there a reason you'd use `ASCII` instead of `UTF-8`?

[2018-01-27 21:13] dmak commented on #1
Actually you can use UTF-8 for key as well. I just thought that normally one uses only characters with codes < 128...

[2018-01-29 15:52] robotdan commented on #1
Great, thanks @dmak, I appreciate you pointing out this issue. These changes will be available in the next release.

[2018-01-29 15:52] #1 closed

[2018-01-30 10:17] dmak opened #2 "The library does not check the situation if signature algorithm is defined but no signature is provided"
Please doublecheck this is a valid issue. According to [JWS §4.1.1](https://tools.ietf.org/html/draft-ietf-jose-json-web-signature-41#section-4.1.1) "alg" Header Parameter MUST be present and MUST be understood and processed by implementations.

In my opinion that means that if "alg" is not "none", then signature must be present and verified. Attached
[JwtTest.java.txt](https://github.com/inversof

[2018-01-30 18:03] robotdan commented on #2
Resolved in version 1.3.0

[2018-01-30 18:03] #2 closed

[2018-05-02 13:11] rcadob opened #3 "JWT signature validation can be bypassed in versions <= 1.3.0"
# Summary
The **prime-jwt** implementation allows that any not-signed JWT be decoded and, therefore, validated by JWTDecoder class, even when a Verifier object is provided. This issue affects versions <= 1.3.0.

For security reasons, I'm contacting the developers by email with the necessary technical details.

# Description
When the _JWT.getDecoder().decode(String, Verifier...)_ is called, the JWT

[2018-05-02 15:34] robotdan commented on #3
Hi @rcadob thank you for reporting this issue. The issue has been patched.

[2018-06-28 18:19] robotdan commented on #3
Fixed under abb0d479389a2509f939452a6767dc424bb5e6ba

[2018-06-28 18:19] #3 closed

[2018-10-03 21:03] robotdan opened #4 "Feature: Elliptic Curve support"
### Overview

The JSON Web Algorithms (JWA) RFC (https://tools.ietf.org/html/rfc7518) specifies several cryptography standards, one of the optional is Elliptic Curve support.

In section 3.1.  "alg" (Algorithm) Header Parameter Values for JWS - the following algorithms are recommended for implementation.

[code]

###

Add support for these algorithms by adding a new `Verifier` and `Signer` impl in

[2018-12-13 03:17] robotdan commented on #4
In progress

[2019-01-14 15:42] robotdan commented on #4
Available in version 3.0.0

[2019-01-14 15:42] #4 closed

[2019-02-21 19:49] Ostico opened #5 "It is not possible to get the claims and the JWT parameters without verify"
A verifier is mandatory to get the access to the JWT fields, but if i'm in the client side and i want read informations from JWT is not possibile decode the payload without verification:

[code]

some helpers could be useful.

[2019-02-21 21:56] robotdan commented on #5
Hi @Ostico

I think you're asking for how to decode the JWT w/out validation?

In addition to your example code, you can also use this method:

[code]

This is using the varargs version of the `decode` method.

[code]

Using this method, when `0` verifiers are provided, we will allow you to decode the JWT w/out verification. This way we know for sure the caller is asking us to decode the JWT w/out

[2019-02-22 09:43] Ostico commented on #5
Hi @robotdan , i tried without verifiers, but i get an exception:
`io.fusionauth.jwt.MissingVerifierException: No Verifier has been provided for verify a signature signed using [SHA256withRSA] `

[2019-02-22 19:24] robotdan commented on #5
Ah, ok, I see what you mean. Yeah, you're correct, we don't offer a way to decode the JWT w/out verification (at least not easily).

Would it help if I added a utility method to decode the payload? Would you also want the header?

For example, something like :

[code]

This method would not perform any validation, it would only read the JSON and return a JWT object.

This would more/less do the sa

[2019-02-23 00:40] robotdan commented on #5
See commit 4e5d4d08fa9f672afda0b28f8b971f33a61b099a, added `JWTUtils. decodePayload` - will this work for you?

[2019-02-23 09:49] Ostico commented on #5
Yes, it is perfect. The header is not so important in my opinion.
Thank you.

[2019-02-23 17:37] robotdan commented on #5
Great, thanks for the feedback. I also added `JWTUtils.decodeHeader` if that is of use.
Released and available in version `3.0.2`.

[2019-02-23 17:46] #5 closed

[2019-05-26 08:28] volyx opened #6 "Support custom Json deserializer/serializer"
For example Gson instead Jackson.
Move json to another maven module and allow to add it as separate jar.

[2019-05-28 14:41] voidmain commented on #6
Hi @volyx. Thanks for submitting this request. The use of Jackson in the library is mostly private, meaning that Jackson classes aren't returned from the methods. Is your need for GSON so that you don't need to include Jackson in your classpath?

[2019-06-08 06:00] volyx commented on #6
Yes, I already exclude all jackson libraries from my project for using only Gson, but I can't replace Jackson with Gson in fusionauth-jwt. So it would be nice to have a opportunity to somehow register custom serializer/deserializer. For example

[code]

[2019-06-08 23:14] robotdan commented on #6
Thanks for that additional info @volyx . In theory we could abstract the mapper interface and allow a different module / library to be bound for serializing and deserializing.

Most of that code is in `Mapper.java` - however - we are using some Jackson annotations in the domain which makes it a bit tough without some re-work to the library.

We are using the Jackson `@AnySetter` and `@AnyGetter` a

[2019-08-17 13:28] volyx commented on #6
As I see there are two options:
1) First is to create a multi-module maven project.
So `fusionauth-jwt-parent` will have such structure:
[code]
So users can still use `fusionauth-jwt` library and don't notice any differences after versoin update
2) Do separation in runtime. We could check in runtime availability of  JSON library:
[code]
So user could exclude Jackson, and add Gson library.

First a

[2019-10-18 14:26] skjolber opened #8 "JDK 9+ support"
Please add a module descriptor.

[2019-10-18 15:13] robotdan commented on #8
Can you provide some additional detail to what you're looking for and the use case? Thanks!

[2019-10-21 13:35] skjolber commented on #8
Well an Automatic module name would be a good first step, then later a real module info (guess using moditect-maven-plugin is the fastest). Use-case: Java 11 application with modules.

[2019-10-21 13:37] skjolber opened #9 "Benchmark / performance testing"
Hi, do you have an existing benchmark of JWT token decoding? If not [this](https://github.com/skjolber/java-jwt-benchmark) might be interesting.

[2019-10-21 15:20] robotdan commented on #8
Will this help you out? See commit https://github.com/FusionAuth/fusionauth-jwt/commit/82033d02a4e059f1aa4c361255cf87ef494a0c87

I haven't dealt much yet with modules, so please share any feedback you have.

[2019-10-21 15:39] robotdan commented on #9
We have done some internal testing, but nothing official that we've posted. That is interesting, I'll take a look.

[2019-10-21 16:11] skjolber commented on #9
I did not need to modify the other frameworks, it is just a matter of producing some code for

[2019-10-21 16:44] skjolber commented on #8
See https://github.com/FusionAuth/fusionauth-jwt/pull/10 for a suggestion.

[2019-10-21 22:15] skjolber commented on #9
@robotdan See [PR](https://github.com/skjolber/java-jwt-benchmark/pull/1).

[2019-10-23 12:50] skjolber commented on #9
Initial run seems to indicate that you're the fastest so far, by something like 5%.

[2019-10-25 20:14] robotdan commented on #9
Awesome.. sorry, been swamped. I'll try to take a look at your code shortly and see if I can make any recommendations for improvement.

[2019-11-01 22:38] skjolber commented on #9
So no comments / changes then? I'll finish up on the 8th of November at the latest.

[2019-11-03 01:26] robotdan commented on #9
Hi @skjolber added a few comments in your PR, nothing super important, but I left a few suggestions.

Thanks.

[2019-11-03 22:22] skjolber commented on #9
Thank for the feedback. According to the benchmarks, you are the new fastest kid on the block. Well done. See [project page](https://github.com/skjolber/java-jwt-benchmark) for a summary, or [JMH results](https://skjolber.github.io/java-jwt-benchmark/jmh_v1.2.0/index.html).

[2019-11-03 22:22] #9 closed

[2019-12-06 23:40] robotdan commented on #8
I removed the `module-info.java` file for now, JDK8 won't compile this, so I'll have to build two artifacts from this project one for Java8, and another for Java9 and only include this when compiling Java9.

[2019-12-09 11:06] skjolber commented on #8
To stay on 8, use the moditect plugin:

[code]

with the module-info in a seperate source folder.

[2019-12-12 18:03] robotdan commented on #8
Thanks @skjolber for the help! Added it back under commit https://github.com/FusionAuth/fusionauth-jwt/commit/3a45068ea7f124fea650cca305e64702726b9497

[2019-12-12 18:03] #8 closed

[2019-12-12 20:50] skjolber commented on #8
@robotdan and remember to import jackson modules (read: your module uses the jackson module).

[2019-12-12 20:51] skjolber commented on #8
https://github.com/FusionAuth/fusionauth-jwt/pull/10/files#diff-9b957a8dd84164d8cb3b155d2c886290R14-R16

[2019-12-12 23:38] robotdan commented on #8
Thanks @skjolber sorry - totally forgot / missed your PR with all of this in it already. Thanks for the help!

[2020-01-09 16:28] RockyMM opened #12 "Accept leeway while checking expiration"
In some use cases it would be beneficial to allow for a small leeway when checking whether a token has expired, to account for clock differences in client and server machines.

Simple&dirty way could be to overload `decode` method.

Nicer way would be to extend Verifier with optional `leeway` parameter in seconds and to use this parameter in the `Decoder` and to move expiration responsibility to `

[2020-02-20 19:26] volyx commented on #6
### PoC for removing Jackson

**Problem**: Jackson libraries are performant but heavy weight and clash with other Jackson libraries in a project

**Solution**: use lightweight JSON library or do not even use any JSON library - decode/encode manually

**Library sizes:**

340K jackson-core-2.10.1.jar
66K  jackson-annotations-2.10.1.jar
1.3M jackson-databind-2.10.1.jar
136K fusionauth-jwt-3.1.6.jar

[2020-02-20 19:33] robotdan commented on #6
Wow, thanks for the excellent and thorough suggestion @volyx

I'll take a look at you're proposal and follow up with comments.

[2020-02-26 00:39] robotdan opened #13 "Add support for EDDSA"
Add support EDDSA

[2020-02-26 00:39] robotdan opened #14 "Add support for PS256, PS384, PS512"
Add support for PS256, PS384, PS512

Additional context:
https://bitbucket.org/b_c/jose4j/issues/129/rsassa-pss-support-in-java-11

[2020-03-03 12:31] virtual-machinist commented on #6
Can this be pluggable (i.e. done via an interface)? While I do understand that not all projects use Jackson, it's _de facto_ standard for anyone using Spring Boot (and possibly other popular web frameworks). Meaning that it wouldn't really add any extra dependencies. Pluggability may also help with writing simpler tests (possibly allow to test the validation and JSON parsing logic separately) and

[2020-03-14 10:11] volyx commented on #6
@virtual-machinist

- For spring projects common way of integration is separate module for example 'spring-fusionauth-jwt'. So if we suppose that it is spring project we can manually configure JSON library.
- For other frameworks it is also possible to write custom integration library - `${other_popular_web_framework}-fusionauth-jwt`.

Example is here - [PlainObjectMapper]( https://github.com/voly

[2020-03-29 07:45] volyx commented on #6
The same approach of embedding JSON serialization/deserialization code inside library is used in jose4j - https://bitbucket.org/b_c/jose4j/src/master/src/main/java/org/jose4j/json/

[2020-03-30 16:32] virtual-machinist commented on #6
First of all I don't think speed is the main reason anyone uses Jackson (or Spring for that matter). Jackson and Gson provide a wide range of serialization/deserialization customization options, are well established, with decent documentation and have plenty integrations with other libraries.

As a developer I don't want to write glue logic just to interface with the embedded serializer of a yet-a

[2020-03-30 18:01] volyx commented on #6
@virtual-machinist  I'm fully agree with you point. But what if you don't even need to think about the internal serialization/deserialization logic? `PlainObjectMapper` are going to be fully embedded into code, and will become an internal API. So you don't need to think about internals of JWT library.

Speed benchmarks are presented there only to show that the performance will not get worth after

[2020-03-30 18:30] virtual-machinist commented on #6
Sorry, @volyx , I cannot imagine a case when I'd like to add a private claim of my own object model to the token and not think about the serialization details. You're basically saying I won't have to worry about I/O because I won't have the option. :wink:

I think this discussion is getting nowhere. I am for an agnostic model with first-class parser/generator access to JSON claims and header and I

[2020-04-27 12:52] sadovnyc opened #15 "Extend HMACSigner to accept byte[] as secret input"
Hi, there is no api which allows creating HMACSigner from byte[], even though HMAC signer constructor will convert String to byte[].
As well, it is incompatible with HMACVerifier which accepts byte[] as input.
So now, to create HMACSigner from byte[] , I need to redefine the whole class.

[2020-04-28 08:25] robotdan commented on #15
Added some additional methods in commit
https://github.com/FusionAuth/fusionauth-jwt/commit/348130302919739024794bde59f9db21ddf93f86

[2020-04-29 06:17] sadovnyc commented on #15
Thanks, a lot for fast fix. I've migrated to 3.2.0, it works.

[2020-04-29 06:17] #15 closed

[2020-04-29 06:18] sadovnyc commented on #14
When is it planned to release this feature?

[2020-04-29 14:31] robotdan commented on #14
Not sure. I need to do some more research to see how much if any of this is possible within the JDK and if any eternal deps are required. If external deps are required I'll probably not implement it in this library and instead make a a separate library to build the additional verifier and signer objects.

[2020-06-05 16:24] devnewton opened #16 "How to use JSONWebKey to create a JWT token?"

[2020-06-05 17:34] robotdan commented on #16
Can you provide some more context of what you're trying to accomplish? Are you looking to sign a token with a private key from a JSON Web Key, or validate a token with the public key from a JSON Web Key?

[2020-06-08 07:09] devnewton commented on #16
I would like to use a jwks (like those generated by https://mkjwk.org/) to sign/encrypt a token.

[2020-06-08 17:11] robotdan commented on #16
This is already possible. Please review the README and find `Extract the Public Key from a JWK`.

[2020-06-23 05:12] robotdan commented on #16
Did you still have questions on this, or can we close out the issue?

[2020-06-30 14:55] JuliusPC commented on #14
As I understand it, current JDKs support this: <https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8229518>

In my opinion, supporting PSS is important, since the asymmetric alternatives have flaws:
RSxxx uses PKCS#1 v1.5 (difficult to implement correct, see recurring problems with Bleichenbacher attacks; PSS solves the problem fundamentally) and ESxx uses ECDSA (possibility of leaking the priva

[2020-07-01 12:06] JuliusPC opened #17 "Implement HMAC with constant-time comparison due to requirements in RFC 7518"
In [HMACVerifier.java](https://github.com/FusionAuth/fusionauth-jwt/blob/master/src/main/java/io/fusionauth/jwt/hmac/HMACVerifier.java#L158) `Arrays.equals` is used to check whether the signature is valid or not. [RFC 7518 states](https://tools.ietf.org/html/rfc7518#section-3.2):

As far as i know, `Arrays.equals` is not constant-time.

[2020-07-02 14:19] JuliusPC commented on #13
RFC specifying this: <https://tools.ietf.org/html/rfc8037>

[2020-07-02 14:32] #16 closed

[2020-07-02 14:43] robotdan commented on #14
Thanks for the link @JuliusPC I'll take a look.

[2020-07-02 15:32] robotdan commented on #14
It looks like the support is pretty good, I prototyped a verifier. I may be able to get this out shortly.

[2020-07-04 00:24] robotdan commented on #14
Committed initial support for these algorithms.
https://github.com/FusionAuth/fusionauth-jwt/commit/76a9fdd1f3fc43f4414f96c9e83d3488d3190abb

I need to do some more testing, and make sure the JSON Web Key parsing doesn't need any changes, but so far it looks pretty straight forward.

Using this new algorithms will require the latest Java 8 (>= u251), or later versions of Java.

[2020-07-04 17:46] robotdan commented on #14
Available in version 3.5.0.

[2020-07-04 17:53] #14 closed

[2020-07-05 22:16] jamietanna opened #18 "Support JWT Fingerprints"
[RFC7638 _JSON Web Key (JWK) Thumbprint_](https://tools.ietf.org/html/rfc7638) describes a standard method to generate the `kid` field for a given JSON Web Key.

This is commonly required, and given we can generate a JWK from a PEM / `PublicKey` / `PrivateKey`, we should be able to use this to generate a `kid`.

If you're interested in this feature, I'd be happy to submit a PR :smile:

[2020-07-06 02:26] robotdan commented on #18
This should already be working. If it isn't please provide a code example.

Thanks.

[2020-07-07 09:18] jamietanna commented on #18
The below code example fails when using [this certificate](https://keystore.openbanking.org.uk/001580000103UAQAA2/x7THoMF8N-U4q8lo4MZokJ1CxkM.pem) against v3.5.0 of this library:

[code]

As `kid` is defaulted to `null`, and not generated.

I don't seem to be able to find any helper methods to generate this `kid` as a JWK Thumbprint, only as an X.509 Thumbprint.

[2020-07-07 15:10] robotdan commented on #18
Ah, I see what you mean. Yes, we are not setting the `kid` automatically to the certificate thumbprint.

You can use the `JWTUtils.generateJWS_x5t` to generate the thumbprint and set it to the `kid`.

The `kid` can be anything you want, a common choice when representing a certificate is the `x5t`.

[2020-07-07 15:16] jamietanna commented on #18
Ah that makes sense. Would you be happy receiving a PR that adds i.e. `JWTUtils.generateJWS_thumbprint`, that follows RFC7638 to produce a `kid`?

It would be good to have this as an option in this library

[2020-07-07 16:22] robotdan commented on #18
Ok, I think I was confused. The utility methods that we have to generate `x5t` ( X.509 Certificate Thumbprint ) values are for certificate thumbprints. You are talking more specifically about JWK thumbprints.

Yes, then you are correct. We are not generating JWT thumbprints, and do not have any utility methods to generate them.

If you would like to submit a PR I will review it.

[2020-07-17 04:27] #17 closed

[2020-07-22 04:26] robotdan opened #22 "Incorrectly using alg instead of kty to parse a public key from a JWK"
One of our fantastic users pointed out to us:

This looks to be correct, and we should be using the `kty` parameter to extract the public components from the JWK.

[2020-07-22 04:30] #22 closed

[2020-07-22 16:05] #18 closed

[2020-08-12 08:56] JuliusPC commented on #13
Java supports EdDSA: <https://openjdk.java.net/jeps/339>

[2020-08-16 19:51] jamietanna opened #23 "Add support for OAuth2 configuration"
[RFC8414 defines OAuth 2.0 Authorization Server Metadata](https://tools.ietf.org/html/rfc8414) which is the OAuth2-specific implementation of [OpenID Connect Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html).

Would you be interested in having support for this, similar to `io.fusionauth.jwks.JSONWebKeySetHelper#retrieveKeysFromIssuer`?

[2020-08-18 15:37] robotdan commented on #23
Seems reasonable.

[2020-09-04 22:45] robotdan commented on #12
This is a good idea. I know most SAML libraries have a default skew of a few minutes that can be configured. Coming soon.

[2020-10-02 19:25] robotdan commented on #23
Is this just to add some additional tests you mean? The ones that are there should work since those are legit endpoints.
https://github.com/FusionAuth/fusionauth-jwt/blob/48cd5897019b923ad7fe318aa0d632484a0ccddd/src/test/java/io/fusionauth/jwks/JSONWebKeySetTest.java

Or do you mean in order to add code for `retrieveKeysFromIssuer`?

[2020-10-02 20:04] jamietanna commented on #23
Sorry, I wasn't clear. In <code>JSONWebKeySetTest</code> we're reaching out to a real set of endpoints.

However, I can't seem to find a public OAuth2 server that supports RFC8414 to write a test.

I was thinking of using something like Wiremock to create a fake server so I can stub it out, and wondered if you'd be happy with that as a change to the existing tests in <code>JSONWebKeySetTest</code>

[2020-10-02 21:24] robotdan commented on #23
Ah, ok, got it. Yeah, don't have to test real endpoints if there aren't any public ones that we can hit reliably.

You can just build some expected JSON and then parse it similar to how we do JWKS.

https://github.com/FusionAuth/fusionauth-jwt/tree/master/src/test/resources/jwk
https://github.com/FusionAuth/fusionauth-jwt/blob/013a981b7c82173fdd40b26a0384584677aaf7f0/src/test/java/io/fusionauth/jw

[2020-10-03 17:17] voidmain commented on #23
If you have a valid response from that RFC, you could use the internal HTTP server that Java ships with for testing.

[2020-10-15 14:11] robotdan opened #24 "Add x5c and verify public key against x5c when extracting a public key from a JSON Web Key"
Add the x5c to the JSON Web Key when parsing a certificate, and when extracting a public key from a JSON Web key, attempt to verify the public key against the x5c if possible.

[2020-10-15 14:12] robotdan commented on #24
Commits:

https://github.com/FusionAuth/fusionauth-jwt/commit/fd761c642f28fb95e384ac2a6e4bcba23ba89d9c
https://github.com/FusionAuth/fusionauth-jwt/commit/4465240de20951a59d8374a8f49460ba6343d731
https://github.com/FusionAuth/fusionauth-jwt/commit/ec26cb764127317a139c9a3638a0d4c19ad0a7b8

[2020-10-18 01:09] nightwatchcyber commented on #24
Regarding the x5c material itself - it seems at the minimum, it would be nice to provide a feature to validate the certificate against the CAs known by the JVM

[2020-10-19 16:35] robotdan commented on #24
I can take a look at adding that capability.

[2020-10-25 00:56] jarekratajski commented on #12
See pull request #25

[2020-10-30 01:04] robotdan commented on #12
Messing with this solution to see how it feels: https://github.com/FusionAuth/fusionauth-jwt/commit/e1adc64fac959d5f230af28b80a7c050e9b59b7c

[2020-10-30 14:39] robotdan commented on #12
@RockyMM @jarekratajski and I have been working on a solution. Let me know if you have any opinion, see example options 1, 2 and 3 : https://github.com/FusionAuth/fusionauth-jwt/pull/25#issuecomment-719170777

[2020-11-06 16:57] robotdan commented on #24
Release 1.6.0 w/ validation for x5c. I'll keep this open to still look at adding certificate verification options.

[2020-11-06 17:04] robotdan commented on #12
This is available in version 3.6.0. Use `withClockSkew` on the JWT Decoder, defaults to `0`.

[2020-11-06 17:04] #12 closed

[2020-12-02 00:09] robotdan commented on #23
@jamietanna I stubbed this out under https://github.com/FusionAuth/fusionauth-jwt/commit/314d76ffd3be1e433669432c93a7981258afde9b. Let me know if that will work for you.

[2021-01-12 22:13] rvillane opened #29 "io.fusionauth:fusionauth-jwt:4.0.1 has security vulnerabilities"
io.fusionauth:fusionauth-jwt:4.0.1 uses:

[code]
but this dependency has several security vulnerabilities:

https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2020-14060
https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2020-14061
https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2020-14062
https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2020-14195
https://web.nvd.nist.gov/view/vuln/d

[2021-01-12 23:04] robotdan commented on #29
Ugh.. hard to keep up with Jackson vulnerabilities. :-)

[2021-01-12 23:14] robotdan commented on #23
Releasing in 4.1.0, if there are additional features or missing capabilities from what I've described here, please open a new issue to track. Thanks!

[2021-01-12 23:14] #23 closed

[2021-01-12 23:15] #29 closed

[2021-01-13 00:22] rvillane commented on #29
@robotdan I hear you, is a nightmare.  Thanks for the quick fix.

[2021-01-17 23:09] rvillane commented on #29
@robotdan any idea when v4.1.0 will become available in Maven repository ?

[2021-01-17 23:12] robotdan commented on #29
Oops, did not release to maven yet. Done. Thanks for the reminder.

[2021-03-22 21:16] mooreds opened #30 "README improvements"
Had a friend review the repo and they had some suggestions on improving the README to be friendlier new folks.

https://github.com/EddieHubCommunity/support/issues/681

[2021-04-13 21:34] alienintheheights opened #31 "Configurable timeouts on UrlConnection"
## Configurable timeouts on UrlConnection
Make the timeout value for URL connections configurable, not hardcoded.

### Problem
The timeouts for connecting to endpoints are hardcoded in AbstractHttpHelper.buildURLConnection(). They are too short for our environments.

### Solution
properties or constructor based timeout options

### Alternatives/workarounds
using our own impl for JWK, but we'd rath

[2021-04-15 18:30] robotdan commented on #31
Seems reasonable.

[2021-04-19 03:55] robotdan commented on #31
Can you already do this?

For example

[code]

Maybe not ideal, you'd have to build the connection object, but if you do this, you can specify any time out you like.

Maybe we can add another method that takes a consumer so that you can modify it inline.

[2021-04-19 04:13] robotdan commented on #31
Added some additional methods under this comment. https://github.com/FusionAuth/fusionauth-jwt/commit/baa34575d4d3651cc8cd93009b6a0f94f3ab84ab

Will this work for you?

Example usage:

[code]

[2021-04-22 15:01] robotdan opened #32 "Upgrade to Java >= 14?"
How many people would I break if I moved this to Java >= 14?

Feel free to comment on this thread.

### Related
- https://github.com/FusionAuth/fusionauth-jwt/issues/13#issuecomment-1168946774

[2021-04-22 15:09] robotdan commented on #31
4.2.0 is released.

[2021-04-22 15:09] #31 closed

[2021-08-24 15:47] tommed opened #35 "Create a RSASigner.newSHA256Signer which supports PrivateKey instance"
We're using the AndroidKeyStore which protects the private exponent (by design for improved security) so it's impossible to call .getEncoded() or retrieve the private key's ASN1 for the PEM.

Your implementation is assuming this is possible, but by doing so, will only support private keys which expose the private exponent which isn't always a good idea.

Ideally rather than hard-coding the pem dec

[2021-08-25 12:03] robotdan commented on #35
Thanks for the request @tommed  - if I add additional methods that take a reference of type `java.security.interfaces.RSAPrivateKey` will this work for you?

References:
https://developer.android.com/reference/java/security/KeyStore.PrivateKeyEntry
https://developer.android.com/reference/java/security/PrivateKey

[2021-08-25 12:31] robotdan commented on #35
new methods for RSA and RSA PSS Signers -> https://github.com/FusionAuth/fusionauth-jwt/commit/b2224de9de911fea7ac132aa07456dcac74da759

[2021-08-25 13:30] robotdan commented on #35
Available in 4.3.0

[2021-08-25 13:30] #35 closed

[2021-08-27 17:57] XakepSDK opened #36 "Wrong module descriptor"
Jackson can't deserialize some classes because module doesn't open packages to jackson databind module.

`io.fusionauth.jwks.JSONWebKeySetHelper$JSONWebKeySetResponse`
Jackson can't access this class.

add-opens fixes this error. Should i make PR?

[2021-08-28 14:31] robotdan commented on #36
Thanks for the report. Yes, feel free to submit a PR or I can take a look shortly.

[2021-08-30 14:45] robotdan commented on #36
Looking at this further, I have some tests that utilize this code path, can you provide some recreate steps to see this error?

[2021-08-31 07:48] XakepSDK commented on #36
This means tests are not running with enabled module system. I get this error when module system is enabled, otherwise there is no error.

[2021-09-02 08:47] XakepSDK commented on #36
I made a simple reproducer, https://github.com/XakepSDK/fusionauth-testcase
How to use it:
1. Clone
2. Go to app dir
3. Run run.sh, minimum java 9 required, if you are on windows, just run 2nd line from run.sh in cmd
4. Get an error

Harder path:
1. Install Intellij IDEA 2021.1.x. 2021.2.x has broken module handling. I have no idea about other IDEs
2. Open project
3. Launch Test class

Caveats:
1.

[2021-09-08 04:08] robotdan commented on #36
Thanks @XakepSDK - this is great, I'll take a look.

[2021-09-08 06:32] robotdan commented on #36
For simplicity, I just changed `JSONWebKeySetResponse` to be `public`.

[2021-09-08 06:46] robotdan commented on #36
Fix is available in version `4.3.1`.  Thanks for the assist @XakepSDK !

[2021-09-08 06:48] #36 closed

[2021-09-08 08:12] XakepSDK commented on #36
You can also fix this by adding `opens <package> to <jackson.databind.module>` in a module descriptor

[2021-09-08 15:30] robotdan commented on #36
Yes, I did try that, and it does work.

However the class really doesn't need to be private, so that seemed like the more correct fix from my perspective.

I suppose I could also just use a `TypeLiteral` with Jackson indicate how I want to de-serialize the response, then I could just delete the class. Perhaps I'll revisit how I am marshaling this object at some point.

[2021-09-20 10:01] nathanawmk opened #37 "Will Grant Negotiation and Authorization Protocol (GNAP) working code be made available soon?"
Will Grant Negotiation and Authorization Protocol (GNAP) working code be made available soon?

[2021-09-20 14:51] mooreds commented on #37
@nathanawmk right now it is not on our roadmap.

Here's our roadmap guidance: https://fusionauth.io/docs/v1/tech/core-concepts/roadmap/

Here's a tracking issue, feel free to vote this implementation work up: https://github.com/FusionAuth/fusionauth-issues/issues/1401

[2021-09-20 14:51] mooreds commented on #37
I'm going to close this issue out since this isn't related to this repo.

[2021-09-20 14:51] #37 closed

[2021-09-28 09:40] tommed opened #38 "Embedding JWK does not yield an interoperable result"
Our agent has a concept of 'untrusted payloads' this is to allow diagnostics and error reports when the licensing bootstrapping is failing. Untrusted payloads are treated as potentially suspicious, stored separately but allow us to receive important health info should something go wrong in the early stages of setting up an agent.

Untrusted JWT payloads work by embedding the public key into the JW

[2021-09-28 15:58] #38 closed

[2021-09-29 14:05] tommed commented on #38
Thanks @robotdan, well spotted and unbelievable turnaround time. M thanks!

[2021-10-02 07:28] rasa-app opened #39 "Overriding "configureMessageConverters" in spring"
When I override ```configureMessageConverters``` in Spring:

[code]
The Verifier throws this exception:

```io.fusionauth.jwt.InvalidJWTException: The encoded JWT is not properly Base64 encoded.```

[2021-10-02 17:00] voidmain commented on #39
This is likely a bug with Spring since `fusionauth-jwt` implements the JWT specification directly. If you want to provide additional details including the full stack trace, the code where you are using `fusionauth-jwt`, and your Spring configuration, we can determine if this bug is in `fusionauth-jwt`.

I'm 99.999% certain it isn't, so you might want to open a bug with Spring as well. ;)

[2021-12-26 10:54] mfdefs opened #40 "How to gen a jwk with kid?"
like this:
[code]
It can been gen by under python code
# need install jwcrypto: pip install jwcrypto
[code]

[2022-01-03 15:57] robotdan commented on #40
Can you provide some additional context or detail as to what you'd like this library to do?

The `JSONWebKeyBuilder` will return a `JSONWebKey`. Once you have a reference to that object, you can set the `kid` to whatever you like.

[code]

[2022-01-06 14:21] paul-eeoc opened #41 "2047 vs. 2048"
Using this public key (see below), I get this error:
Key length of [2047] is less than the required key length of 2048 bits
with this java snippet of code:
`RSAVerifier verifier = RSAVerifier.newVerifier(publicKeyContent);
`
Can we have an option or parameter to allow 2047 as well as 2048? Or a parameter to turn off this key length check?
See this article
https://randomoracle.wordpress.com/2019/12

[2022-01-18 16:10] TobiasReich opened #42 "Android 7 - Base64 NoClassDefFoundError"
I guess that is an issue with the Java version not being as modern as it should but when I try to use it in my Android App (for Android 7, API Level 24) the app crashes.

The call:

`JWT.getDecoder().decode(token, verifier)`

is trying the to execute the following line:

`Header header = Mapper.deserialize(base64Decode(parts[0]), Header.class);`

Which fails because the base64 decoder is not fund.

[2022-01-19 11:31] TobiasReich commented on #42
Just had a look, the Base64 class is available from Android API 26

maybe it might come handy to state this in the info so others like me can see it quickly.

Thanks!

[2022-01-25 09:12] mfdefs commented on #40
I am lack of basic conception about jwk. Only I can say is gen a jwk with kid like under code:
https://github.com/latchset/jwcrypto/blob/48f6234713bc0da46a947c543c02a86adda080aa/jwcrypto/jwk.py#L947
The code entry is JWK.from_pem(private_key):
https://github.com/latchset/jwcrypto/blob/48f6234713bc0da46a947c543c02a86adda080aa/jwcrypto/jwk.py#L993

[2022-02-16 12:09] GokulMahajan20 commented on #24
Hello @robotdan

Came across this discussion while searching on the internet for the issue I am getting while trying to verify my Id Token.
I think you can help me with the issue so posting it here, I am sorry if this is not the correct place to ask about issues, I tried posting it on forums and stackoverflow but no help so far.

I am using fusionauth-jwt library to verify ID token signed by RSA S

[2022-04-01 20:56] m-Farman opened #44 "Decode expired JWT throws Exception"
I want to verify an old expired JWT and use the JWT object for some processing.
But currently decode throw an `JWTExpiredException`  when I try to decode old JWT string.
My use case is just to verify the JWT string and get back the JWT object without throwing an exception.

[2022-04-02 01:01] robotdan commented on #44
You could use the Time Machine Decoder.
- https://github.com/FusionAuth/fusionauth-client-builder/blob/master/src/main/client/java.client.ftl

Or you can bypass all security and just decode it using the JWT Utils.
- https://github.com/FusionAuth/fusionauth-jwt/blob/9dca1a3757980fbd14b7118d7f3b39a7aa3ba4b2/src/main/java/io/fusionauth/jwt/JWTUtils.java#L101

Assuming one of those options will work f

[2022-04-02 01:03] robotdan commented on #39
Closing this for now, assuming this is a bug with whomever is handling the JWT and likely not preserving the proper encoding. Please re-open if you can put together a test to demonstrate a bug in this library.

[2022-04-02 01:03] #39 closed

[2022-04-02 01:04] robotdan commented on #40
I would assume this code would work for you.

[code]

If not, please re-open and provide some additional details so I can assist further.
Thanks.

[2022-04-02 01:04] #40 closed

[2022-04-02 01:05] robotdan commented on #41
Interesting, it looks like it is possible to generate a key that is 2047 bits.. perhaps I just need to allow either as they both seem to be ok.

[2022-04-02 01:13] robotdan commented on #41
Fixed in 5.1.1

[2022-04-02 01:13] robotdan commented on #44
Please re-open if one of these options didn't work for you.

[2022-04-02 01:13] #44 closed

[2022-04-02 01:16] #41 closed

[2022-04-03 22:07] robotdan commented on #13
I could add support for this in the library, but this feature was included in Java 15. Ideally I'd only anchor to Java LTS releases.

So I could:
- Increase the min. requirement from Java 8 to Java 17
- Build a separate jar named `fusionauth-jwt-eddsa` that requires Java 17, but the base library still remains at 8
- I may be able to implement it w/out binding to any new interfaces and just use ref

[2022-04-03 23:30] robotdan commented on #13
Hacking a bit on this branch
- https://github.com/FusionAuth/fusionauth-jwt/tree/EdDSA

[2022-04-09 23:22] agentgt opened #46 "Best way to pull out "kid" to pick verifier?"
I have a feeling I might be doing this wrong.

How do decode a JWT by using its "kid"?

Right now it looks like I use JWTUtils#decodeHeader to get the "kid" before using the Decoder. Then from that I can get the correct PublicKey (jwks) to pass to the decoder.

Or I can make a custom Verifier that again will probably call JWTUtils#decodeHeader.

It seems like this should be kind of built in.

[2022-04-10 17:07] robotdan commented on #46
The decode method can handle this for you.

Take a look at

https://github.com/FusionAuth/fusionauth-jwt/blob/05bd82e4442c2ec4b9d7a637275b020ef38695b2/src/main/java/io/fusionauth/jwt/JWTDecoder.java#L89

Or

https://github.com/FusionAuth/fusionauth-jwt/blob/05bd82e4442c2ec4b9d7a637275b020ef38695b2/src/main/java/io/fusionauth/jwt/JWTDecoder.java#L106

[2022-04-10 17:39] agentgt commented on #46
I must have been looking at an older version of the code or I just completely missed that! Either that or some IDE cache issue as I tried auto completing for the function.

[2022-04-10 17:39] #46 closed

[2022-04-10 17:43] agentgt commented on #46
BTW it seems like:

[code]

should be

[code]

[2022-04-10 17:49] voidmain commented on #46
That's another signature we could support. The current method allows you to provide the mapping between the `Verifier` and the `kid`. Feel free to open a feature request to support the `Function` implementation as well.

[2022-04-30 15:32] agentgt opened #47 "Support Function<String,Verifier> for kid mapping"
Hi. Great library!

As we were discussing in #46 on mapping kid to key it would be great if you supported a Function<String, Verifier> instead of a Map<String, Verifier>.

[code]

For now we have a hack:

[code]

Obviously this isn't ideal particularly if the original decode method that takes Map calls other things besides `isEmpty`.

Because we have the hack it isn't urgent.

[2022-05-01 23:41] robotdan commented on #47
Thanks for the request @agentgt. We'll take a look, you are also welcome to submit a PR. Thanks!

[2022-05-02 15:35] robotdan commented on #47
Should be available in 5.2.0, let me know how it works for you.

[2022-05-02 15:35] #47 closed

[2022-05-26 06:38] Yaytay commented on #13
I would vote for either of the first options.
There are quite a few JWT libraries for Java, but none that I can find with full support for EdDSA and most are resolutely trying to support JDK 8, which is holding them back from supporting it.
Great to see movement on this.

[2022-05-26 06:40] Yaytay commented on #32
Fine by me.

[2022-05-27 16:35] robotdan commented on #32
Thanks for the feedback @Yaytay. If we update the min. required version of Java, I would likely select an LTS, version 11 or 17.

[2022-05-27 16:37] robotdan commented on #13
Thanks for the feedback @Yaytay.

[2022-06-28 16:24] agentgt commented on #32
I was just looking at trying to use Edwards Curve and it is only supported in Java 15 or greater

https://openjdk.org/jeps/339

I have contemplated forking this project to get it since the `Algorithm` is an enum.

[2022-06-29 12:29] mooreds commented on #13
See also https://github.com/FusionAuth/fusionauth-jwt/issues/32

[2022-07-06 07:18] robotdan commented on #13
If I can find an evening to hack on the branch I started, I may be able to finish it.

[2022-08-27 04:48] robotdan commented on #13
Taking a stab at a major version release of this library to make it more extendable, and taking my EdDSA branch and moving it to a new repo to prove the theory.

https://github.com/FusionAuth/fusionauth-jwt/tree/degroff/extendable
https://github.com/FusionAuth/fusionauth-jwt-eddsa

If it all holds together, I should get this out soon.

[2022-09-14 18:55] salami opened #48 ""The JWT could not be de-serialized.""
This is for a kotlin-based Android project.

I'm calling `Mapper.deserialize(bytes, JSONWebKey::class.java)` and it works completely fine on my dev build from android studio, but in a prod release it throws an InvalidJWTException error with the message "The JWT could not be de-serialized."

Any idea what the issue is? Do I need to add some proguard rules?

[2022-09-14 18:56] mooreds commented on #48
What versions of java are you targeting in each environment?

[2022-09-14 19:00] salami commented on #48
Java 1.8 for both. I'm going to try a build now with the minify/obfuscate stuff taken out.

[2022-09-14 19:08] robotdan commented on #48
Possibly related:
- https://github.com/FusionAuth/fusionauth-jwt/issues/42

No idea if this library will work in Dalvik or Android runtime (ART).

[2022-09-14 19:20] salami commented on #48
Ok it's working for me without the minify/obfuscate stuff.

I don't know much about proguard rules but I'll try to investigate when I get some time. My app is only being pushed for internal testing right now so low urgency.